<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT"   value="2" />
    <add key="MAX_INPUTTEXT_LENGTH"                value="100000" />
    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME" value="[resources]/url-detector-resources.xml" />
  </appSettings>  
</configuration>