p > a {
    border-bottom: 1px dotted silver;
    text-decoration: none !important;
    font-weight: 400;
    color: #515151;
}

p > a:hover {
    border-bottom: 1px dotted black;
    text-decoration: none !important;
}

#article {
    padding: 20px;
}
#article > p {
    text-indent: 1.5em;
}
.article-header {
    background: none; padding-bottom: 10px; margin-top: 20px; text-align: center; font-weight: normal;
}

#articles-list li {
    list-style: url('../images/bullet_yellow.png');
    /*list-style-position: outside;*/
}

#article ul, ol { margin: 1em 0; padding: 0; padding-left: 30px }
#article ul { list-style: square; }
#article ol li { padding: 0; margin: 0 15px 15px 20px; }